<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
</head>
<body>
    <h1>Bem vindo {{user.first_name}}</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'customer_logout' %}">Logout</a>
    {% else %}
         <a href="{% url 'register' %}">Cadastre em nosso site</a>
        <a href="{% url 'customer_login' %}">Faça login</a>
    {% endif %}
    <h3>Veja as categorias</h3>
    <a href="{% url 'view_category' %}">Ver Categorias</a>
    <a href="{% url 'view_products' %}">Ver todos produtos</a>
    <a href="{% url 'view_favorites' %}">Ver favoritos</a>
</body>
</html>