{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer/login/css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=cookie" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    

    <form action="{% url 'customer_login' %}" method="POST">
        {% csrf_token %}
            <p id="title">Sweet Delights<br>Bakery</p>
            <img src="{% static 'customer/img/cupcake-svgrepo-com.svg' %}" height="70px" alt="Cupcake">
            <section class="middle">
                {{form.email}}
                {{form.password}}
                <button type="submit" class="medium">Login</button>
            </section>

            <section class="PasswordClick">
                <p class="medium" id="forgotPassword">
                    Esqueceu a senha ? <br><a href="{% url 'password_reset' %}">Clique aqui</a>
                </p>
                <p class="medium" id="register">
                    Não tem conta ? <br>
                    <a href="{% url 'register' %}">Cadastrar</a>
                </p>
            </section>
    </form>
    
</body>
</html>