{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver favoritos</title>
    <script src="{% static 'customer/delete_favorite.js' %}" defer></script>
</head>
<body>
    <h1>Seus produtos favoritos</h1>
    {% for favorite in favorites %}
        <ul id="favorite-{{favorite.id}}">
            <li>{{favorite.name}}</li>
            {% with img=favorite.images.all.first %}
                {% if img %}
                    <img src="{{img.images.url}}" alt="Images Product" width="100px">
                {% endif %}
            <button class="btn-delete"  data-favorite-id="{{favorite.id}}">Excluir</button>
            {% endwith %}
        </ul> 
    {% endfor %}
</body>
</html>