{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer/view_cart/view_cart.css' %}">
    <script src="{% static 'customer/view_cart/view_cart.js' %}" defer></script>
    <script src="{% static 'customer/delete_product/deleteProduct.js' %}" defer></script>
    <title>View-cart</title>
</head>
<body>
    <h1>Seu carrinho aqui</h1>
    <form action="{% url 'send-whatsapp' %}" method="POST">
        {% for item in itens %}
        {% csrf_token %}
            <div class=" itens" id="item-{{ item.product.id }}">
                <h3 id="teste">{{item.product.name}}</h3>
                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                {% with item.product.images.all|first as image %}
                    {% if image %} 
                        <img src="{{image.images.url}}" alt="Imagem do produto" width="100px">
                    {% endif %}
                {% endwith %}
                <input type="number" name="amount" class="amount" value="{{item.amount}}" min="1" max="10" step="1">
                
                <button class="btn-delete" data-id="{{item.product.id}}">Excluir</button>
                <p class="value" data-price="{{ item.product.price|floatformat:2 }}">valor: {{ item.product.price }}</p>
            </div>
            {% endfor %}
            <p class="subtotal"></p>
            <button type="submit">Enviar</button>
    </form>
    
        

     
</body>
</html>