<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar categoria</h1>
    {% if messages %}
        {% for message in messages %}
            <ul>
                <li>{{message}}</li>
            </ul>
        {% endfor %}
    {% endif %}
            
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_group">
            {{form.name.label_tag}}
            {{form.name}}
        </div>
        <br>
        <div class="form_group">
            {{form.description.label_tag}}
            {{form.description}}
        </div>
         <br>
        <div class="form_group">
            {{form.price.label_tag}}
            {{form.price}}
        </div>
        <br>
        <div class="form_group">
            {{form.category.label_tag}}
            {{form.category}}
        </div>
        <br>
        <div class="form_group">
            <label for="img">Imagem: </label>
            {% if image %}
                {% for img in images %}
                    <img src="{{img.image.url}}" alt="Fotos da imagem" width="100px">
                    <a href="{% url 'delete_imagem' img.id%}">Deletar</a>
                    <label for="image">Adicionar imagens: <input type="file" name="images" multiple></label>
                {% endfor %}
            {% endif %}

            {% if not imagem %}
                <label for="image">Adicionar imagens: <input type="file" name="images" multiple></label>
            {% endif %}
        </div>
        <br>
        <button type="submit">Salvar</button>
       
    </form>
</body>
</html>