<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Produtos</title>
</head>
<body>
    <h1>Registre produtos</h1>
    
    {% if messages %}
    {% for message in messages %}
        <ul>
            <li>{{message}}</li>
        </ul>
    {% endfor %}
    {% endif %}
    <form action="{% url 'register_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <h2>Dados do Produto</h2>
            {{product_form.as_table}}
            
        </table>
        <label for="image">Imagem: <input type="file" name="images" multiple></label>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>