{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gestao/view_specific_category.css' %}">
    <title>Visualizar Categoria especifica</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
    {% endif %}
    {% if category %}
            <h2 id="inicio">{{category.name}}</h2>
            <div class="image">
                <img src="{{category.image.url}}" alt="Image Category" width="200px">
            </div>
            <div class="crud">
                <div id="edit">
                    <a href="{% url 'edit_category' category.id %}">Editar</a>
                </div>
                <div id="delete">
                    <a href="{% url 'delete_category' category.id %}">Excluir</a>
                </div>
            </div>

            <div class="product">
                <a href="{% url 'register_product' %}">Adicione produto</a>
            </div>
    {% endif %}       
    
    {% if products %}
    <h2>Produtos da categoria</h2>
    {% for product in products %}
    
        <ul>
            <li><a href="{% url 'view_product' product.id %}">{{product.name}}</a></li>
        </ul>
    {% endfor %}
    {% endif %}
</body>
</html>