<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Produto</title>
</head>
<body>
    <h1>Produto: {{product.name}}</h1>
    <h2>R$: {{product.price}}</h2>
    <h3>Descrição: {{product.description}}</h3>
    {% for img in images %}
        <img src="{{img.images.url}}" alt="Imagem do produto" width="200px">
    {% endfor %}
    <a href="{% url 'edit_product' product.id %}">Editar</a>
    <a href="{% url 'delete_product' product.id %}">Excluir</a>
</body>
</html>