{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gestao/view_specific_category.css' %}">
    <title>Visualizar Categoria especifica</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
    {% endif %}
    {% if categoria %}
            <h2 id="inicio">{{categoria.nome}}</h2>
            <div class="imagem">
                <img src="{{categoria.imagem.url}}" alt="Imagem da categoria" width="200px">
            </div>
            <div class="crud">
                <div id="editar">
                    <a href="{% url 'edit_category' categoria.id %}">Editar</a>
                </div>
                <div id="excluir">
                    <a href="{% url 'delete_category' categoria.id %}">Excluir</a>
                </div>
            </div>

            <div class="produtos">
                <a href="{% url 'register_product' %}">Adicione produto</a>
            </div>
    {% endif %}       
    
    {% if produtos %}
    <h2>Produtos da categoria</h2>
    {% for produto in produtos %}
    
        <ul>
            <li><a href="{% url 'view_product' produto.id %}">{{produto.nome}}</a></li>
        </ul>
    {% endfor %}
    {% endif %}
</body>
</html>