{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver favoritos</title>
    <script src="{% static 'clientes/delete_favorite.js' %}" defer></script>
</head>
<body>
    <h1>Seus produtos favoritos</h1>
    {% for favorito in favoritos %}
        <ul id="favorito-{{favorito.id}}">
            <li>{{favorito.nome}}</li>
            {% with img=favorito.imagens.all.first %}
                {% if img %}
                    <img src="{{img.imagem.url}}" alt="Imagem do produto" width="100px">
                {% endif %}
            <button class="btn-excluir"  data-favorite-id="{{favorito.id}}">Excluir</button>
            {% endwith %}
        </ul> 
    {% endfor %}
</body>
</html>