{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clientes/view_cart.css' %}">
    <script src="{% static 'clientes/view_cart.js' %}" defer></script>
    <title>View-cart</title>
</head>
<body>
    <h1>Seu carrinho aqui</h1>
    <form action="{% url 'send-whatsapp' %}" method="POST">
        {% for item in itens %}
        {% csrf_token %}
            <div class=" itens">
                <h3>{{item.produto.nome}}</h3>
                <input type="hidden" name="produto_id" value="{{ item.produto.id }}">
                {% with item.produto.imagens.all|first as imagem %}
                    {% if imagem %} 
                        <img src="{{imagem.imagem.url}}" alt="Imagem do produto" width="100px">
                    {% endif %}
                {% endwith %}
                <input type="number" name="quantidade" class="quantidade" value="{{item.quantidade}}" min="1" max="10" step="1">
                <p class="valor" data-preco="{{ item.produto.preco|floatformat:2 }}">valor: {{ item.produto.preco }}</p>
            </div>
            {% endfor %}
            <p class="subtotal"></p>
            <button type="submit">Enviar</button>
    </form>
    
        

     
</body>
</html>